
    <nav class="navbar navbar-expand-sm navbar-custom">
        <a class="navbar-brand" href="#">
            <img src="bird.jpg" alt="Logo" style="width:40px;">
          </a>
        
      </nav>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="toppane"><div class="description"><img src="https://img.icons8.com/doodle/48/000000/quora.png" alt=" "><span class="maximum">  Digital Board</span></div>
    <div id="whatis">Digital Board is a one of a kind cross
    interactive platform that helps connect
    students, teachers, and parents through
    communities representing various schools
    across different regions, and the batches
    operating under the respective schools.</div>
    </div>
    <div class="leftpane"><div class="box1"><div class="text">
    <h1 style="color: black;">For Students</h1>
    <p style="padding-top: 10px;">This is for students who study in different schools gyvgvvv xxtrxy jhgi uhn dxrezre nkjnn xrxx tcycv gh xwz tvjbj jbnjjn j vguvuj siovhuosn voavnd sfiwehy bvnskvnkj njd.</p> 
    <button type="submit"  class="first btn btn-sm" >Login</button>
    <p class="space">Don't have an account?<a href="#" style="color:#4CAF50" id="Student"> Sign Up>></a></p>
    </div>
    </div>
    </div>
    <div class="middlepane"><div class="box2"><div class="text">
        <h1 style="color: black;">For Parents</h1>
        <p style="padding-top: 10px;">This is for parents who study in different schools gyvgvvv xxtrxy jhgi uhn dxrezre nkjnn xrxx tcycv gh xwz tvjbj jbnjjn j vguvuj siovhuosn voavnd sfiwehy bvnskvnkj njd.</p> 
        <button type="submit"  class="second btn btn-sm" >Login</button>
        <p class="space">Don't have an account?<a href="#" style="color:#4CAF50" id="Parent"> Sign Up>></a></p>
        </div></div></div>
    <div class="rightpane"><div class="box3"><div class="text">
        <h1 style="color: black;">For Teachers</h1>
        <p style="padding-top: 10px;">This is for teachers who study in different schools gyvgvvv xxtrxy jhgi uhn dxrezre nkjnn xrxx tcycv gh xwz tvjbj jbnjjn j vguvuj siovhuosn voavnd sfiwehy bvnskvnkj njd.</p> 
        <button type="submit"  class="third btn btn-sm">Login</button>
        <p class="space">Don't have an account?<a href="#" style="color:#4CAF50" id="Teacher"> Sign Up>></a></p>
        </div></div></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
 
            var isClicked = false;
            $('#Student').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/users/studentRegister";
                });
                $('#Parent').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/usersP/parentRegister";
                });
                $('#Teacher').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/usersT/teacherRegister";
                });
                $('.first').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/users/login";
                });
                $('.second').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/usersP/login";
                });
                $('.third').on('click', function(){
                isClicked = true;
                window.location.href="http://localhost:5000/usersP/login";
                });
  </script>

   

             
    
    